# Bundler
/.bundle
/vendor/bundle

# SQLite databases
/db/*.sqlite3
/db/*.sqlite3-*
/db/*.sqlite3-shm
/db/*.sqlite3-wal

# Logs
/log/*
!/log/.keep

# Temp files
/tmp/*
!/tmp/.keep

# Bootsnap cache
/tmp/cache/bootsnap*/

# System
.DS_Store
*.swp

# Environment secrets
.env
.env.*
config/master.key
config/credentials.yml.enc

# Pids
/tmp/pids/*
!/tmp/pids/.keep

# Test coverage
/coverage

